.title {
  color: snow !important;
  margin-left: 10px !important;
}
.header {
  /* background: rgba(50, 75, 155, 0.5); */
  /* background: rgba(75, 104, 141, 0.5);*/
  padding: 0px;
}
@media (max-width: 650px) {
  .header {
    margin-bottom: 35px;
    align-items: center !important;
  }
  .title {
    margin-left: 25% !important;
    font-size: 12px !important;
  }
}
