.title {
  color: snow !important;
  font-weight: bold !important;
  padding-top: 10px !important;
  padding-bottom: 5px !important;
}

.root {
  max-width: 775px;
  min-height: 200px !important;
  background: snow;
  border-radius: 25px !important;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-bottom: lightblue solid 10px;
  padding: 25px;
}
.outlinedRoot {
  border-radius: 20px !important;
  width: 300px;
}
.outlinedRoot:focus {
  color: azure !important;
}
.button {
  background-color: rgba(0, 150, 250, 0.5) !important;
  color: white !important;
  height: 50px;
  width: 100px;
  align-self: center;
  margin-left: 10px !important;
  border-radius: 10px !important;
}
.button:hover {
  background-color: royalblue !important;
}
.text {
  color: "snow" !important;
}
.icons {
  align-self: center;
  color: rgba(0, 150, 250, 0.5);
}
.cardTitle {
  /* color: rgba(0, 150, 255, 0.5);*/
  color: rgba(0, 150, 255, 0.5);
  font-weight: bold;
  font-size: 28px !important;
  padding-top: 15%;
  align-self: center;
}
.data {
  color: rgba(0, 150, 255, 0.5);
  align-self: center;
}
.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media (max-width: 650px) {
  .root {
    display: grid;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .root {
    animation: root-fade 2.5s linear;
  }
}
@keyframes root-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
