body {
  background-image: url("./images/skyHigh.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 800px;
  margin: 0px;
}
@media (max-width: 770px) {
  .container {
    margin: 10 5%;
  }
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
