body {
  background-image: url("./images/skyHigh.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100% !important;
  height: 100% !important;
  margin: 0px;
}
@media (max-width: 770px) {
  .container {
    margin: 10 5%;
  }
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  object-fit: contain !important;
}
.mic {
  display: none !important;
}
@media (max-width: 900px) {
  .mic {
    display: inline !important;
  }
}
